#h-topNav{
    background-color: #F6F8FA
}
#h-topNav .btn-outline-primary {
    color: #107FFC;
    border-color: #107FFC;
}
#h-topNav .btn-outline-primary:hover{
    color:#fff;
    background-color:#107FFC;
    border-color:#107FFC
}